.b-blog {
    position: relative;

    &__main-pic {
        img {
            object-fit: contain;
            min-height: auto;
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        color: $white;
        text-transform: uppercase;
        font-size: 38px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 2px;

        @include media('<tabletLg') {
            font-size: 30px;
        }

        @include media('<tabletSm') {
            position: static;
            color: $black;
            transform: none;
            padding: 50px 0 80px 0;
            font-size: 25px;
        }
    }

    &__content {
        @extend %wrapper;
    }
}

.b-blog-article-header {
    display: flex;
    justify-content: space-between;

    &__form {
        width: 480px;
        height: 360px;
        background-color: $active;
        margin-top: -90px;
        z-index: 2;

        @include media('<tabletLg'){
            display: none;
        }
    }

    &__author {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        @include media('<tabletSm') {
            flex-wrap: nowrap;
        }
    }
}

.b-blog-form {
    width: 390px;
    margin: 50px;

    &__title {
        margin-bottom: 20px;
        line-height: 1.2;
        font-size: 22px;
        font-weight: 500;
        color: $white;
        text-transform: uppercase;
    }

    & .b-wr_input {
        margin-bottom: 20px;
    }
}

.b-blog-article-author {
    &__avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid rgba(0, 179, 158, .1);
        background-clip: content-box;
        background-position: center center;
        background-size: contain;
        overflow: hidden;

        @include media('<tabletLg') {
            margin-left: 25px;
        }

        @include media('<tabletSm') {
            min-width: 100px;
            min-height: 100px;
            height: 100px;
            width: 100px;
        }

        @include media('<phoneLg') {
            min-width: 75px;
            min-height: 75px;
            height: 75px;
            width: 75px;
        }

        & img {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: center;
        }
    }

    &__info {
        margin: 50px 0 0 30px;


        @include media('<tabletSm') {
            margin: 0 0 0 20px;
            display: flex;
            align-items: center;
        }

        &-name {
            font-family: 'Caveat', cursive;
            line-height: 1.1;
            font-size: 30px;

            @include media('<tabletSm') {
                font-size: 25px;
                padding-bottom: 5px;
            }

            @include media('<phoneLg') {
                font-size: 22px;
            }
        }

        &-position {
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.b-blog-article-content {
    display: flex;
    margin-top: 50px;
    padding: 0 20px 40px 20px;

    &__socials {
        width: 230px;

        @include media('<tabletSm') {
            display: none;
        }

        & ul {
            display: flex;
            flex-direction: column;

            li {
                margin-left: 0;
                margin-bottom: 15px;
            }
        }

        &-link {
            svg {
                fill: $black;
            }

            &:hover {
                svg {
                    fill: $black;
                }
            }
        }
    }

    &__date {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: $grey_about;

        &::before {
            content: '';
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAArlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABeyFOlAAAAOXRSTlMANXgVaIB2Z2ZUR31XOzJAeXt+enwrFkhMAXQkIgMnFAIfGVFVCAdYUxgtG0lNchMeNl0dHCosWS5cwEesAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAKtJREFUGNNNjFkOgkAQBR+M7cYijhs4bKKi4oYK6P1PZkMwUh+VTiX9AGg6WnSNJXpE/RainoA+GNKohYYDHQSMfy98EAzTsicttmUacGjqyJmcz1nOlBzQAh0WBFquXG/tuY1WSw7KV4EWqEa+4hBGIt7EolEUcki2u73c71jp4XjikP0n47gePV+u6S29shIg43A/53ggrwXkHJ6vohRlwQqr6k3IJHWQny8yghA1GXXIgQAAAABJRU5ErkJggg==");
            background-repeat: repeat;
            display: inline-block;
            background-size: 16px 16px;
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
            margin-right: 8px;
        }
    }

    &__text {
        width: calc(100% - 230px);

        @include media('<tabletSm') {
            width: 100%;
        }

        & ul, ol {
            padding-left: 40px;
        }

        & ul {
            list-style: disc;
        }

        & ol {
            list-style: decimal;
        }

        & p {
            padding: 15px 0;

            &:first-child {
                padding-top: 0;
            }
        }

        & h3 {
            font-size: 22px;
            color: $active;
            font-weight: 500;
            padding: 15px 0;
        }
    }

    &__article-img {
        img {
            object-fit: contain;
            padding: 20px 0;
        }
    }
}

.b-blog-post {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    width: 100%;

    @include media('<desktop') {
        padding: 0;
    }

    @include media('<tabletLg') {
        flex-direction: column;
    }

    &__title {
        padding-bottom: 50px;
    }

    &__item {
        width: 31%;
        min-width: 300px;
        font-weight: 500;

        @include media('<tabletLg') {
            width: 100%;

            &:not(:last-child) {
                padding-bottom: 50px;
            }
        }
    }

    &__item-image {
        img {
            object-fit: cover;
            min-height: 150px;
            height: 150px;

            @include media('<desktop') {
                min-height: 110px;
                height: 110px;
            }

            @include media('<tabletLg') {
                min-height: 150px;
                height: 150px;
            }

            @include media('<phoneLg') {
                min-height: 110px;
                height: 110px;
            }
        }
    }

    &__item-text {
        background-color: $bg_light;
        padding: 30px 50px 50px 50px;

        & a {
            color: $black;
            transition: color $time_trans;

            &:hover {
                color: $active;
            }
        }

        &-read-time {
            padding-top: 30px;
            text-transform: uppercase;
        }
    }
}

