.b-software {
  height: 500px;
  background: url("../resources/img/content-syndicator-software.webp"),
  url("../resources/img/content-syndicator-software.jpg") no-repeat right top;
  background-size: cover;

  @include media('<desktop') {
    background-position: center center;
    background-repeat: no-repeat;
  }

  @include media('<tabletLg') {
    height: auto;
    background: $white no-repeat center center;
  }
  
  &__wr {
    @include media('<tabletLg') {
      position: static;
      padding-bottom: 0;
    }
  }
  
  &__container {
    @include media('<tabletLg') {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include media('<phoneLg') {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  &__container-tablet {
    display: none;
    max-height: 650px;
    
    & img {
      width: 100%;
      max-height: 650px;
    }

    @include media('<tabletLg') {
      display: block;
    }
  }
  
  &__title {
    @include media('<tabletLg') {
      padding-left: 30px;
    }

    @include media('<tabletSm') {
      padding-left: 0;
    }

    @include media('<phoneLg') {
      padding-left: 30px;
    }
  }
  
  &__item {
    width: 100%;

    @include media('<tabletLg') {
      padding-left: 30px;
    }

    @include media('<phoneLg') {
      padding-left: 0;
    }
  }
  
  &__item-title {
    line-height: initial;
    padding-left: 10px;
    vertical-align: top;
  }
}