.b-team{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    @include media('<desktop'){
        margin: 0 auto;
        width: 100%;
        max-width: 1024px;
    }
    @include media('<tabletLg'){
        margin: 0 auto;
        width: 100%;
        max-width: 768px;
    }
    @include media('<tabletSm'){
        margin: 0 -8px;
        width: auto;
    }
    
    &__wr{
        @extend %wrapper;
//        padding-left: 2px;
//        padding-right: 2px;
        @include media('<tabletSm'){
            padding: 0;
        }
    }
    &__box{
        padding: 50px 0 95px; 
        background-color: $bg_light;
        
        @include media('<tabletSm'){
            padding: 25px 0 50px;
        }
        
        &.opened{
            .b-team{
                &__container{
                    max-height: 1700px;
                    
                    @include media('<desktop'){
                        max-height: 2700px;
                    }
                    @include media('<tabletLg'){
                        max-height: 3500px;
                    }
                    @include media('<tabletSm'){
                        max-height: initial;
                    }
                    
                    &:after{
                        opacity: 0;
                    }
                }
                &__member{
                    @include media('<tabletSm'){
                        &:nth-child(n + 5):nth-child(-n + 6){
                            .b-teammate{
                                &__title, &__descr{
                                    display: block;
                                }
                            }
                        }
                        &:nth-child(n + 7){
                            display: block;
                        }
                    }
                }
                &__footer{
                    margin-top: 20px;
                }
            }
            
            .text{
                &_opened{
                    display: inline;
                }
                &_closed{
                    display: none;
                }
            }
        }
    }
    &__container{
        position: relative;
        overflow: hidden;
        max-height: 965px;
        transition: max-height $time_trans_long;
        
        @include media('<desktop'){
            
        }
        @include media('<tabletLg'){
            max-height: 940px;
        }
        @include media('<tabletSm'){
            max-height: initial;
        }
        
        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 220px;
            background-image: linear-gradient(
                to top,
                $bg_light 0%,
                rgba($bg_light, 0.95) 20%,
                rgba($bg_light, 0.9) 30%,
                rgba($bg_light, 0) 100%
            );
            pointer-events: none;
            opacity: 1;
            transition: opacity .3s;
            
            @include media('<tabletSm'){
                bottom: 30px;
                height: 19%;
            }
        }
    }
    
    &__title{
        margin: 0 0 50px;
        text-align: center;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: .08em;
        color: $black;
        
        @include media('<desktop'){
            font-size: 28px;
        }
        @include media('<tabletLg'){
            
        }
        @include media('<tabletSm'){
            margin: 0 0 25px;
            font-size: 18px;
        }
    }
    
    &__member{
        margin: 0 15px 60px;
//        width: calc(25% - 31px);
        width: 288px;
        
        @include media('<laptop'){
            margin: 0 13px 60px;
        }
        @include media('<tabletSm'){
            margin: 0 8px 30px;
            flex-shrink: 1;
            max-width: 288px;
            width: calc(50% - 16px);
            
            &:nth-child(n + 5):nth-child(-n + 6){
                .b-teammate{
                    &__title, &__descr{
                        display: none;
                    }
                }
            }
            &:nth-child(n + 7){
                display: none;
            }
        }
    }
    
    &__footer{
        margin-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        
        @include media('<tabletSm'){
            margin-top: 0;
            justify-content: center;
        }
    }
    &__toggler{
        color: $grey_about;
        
        @include media('<tabletSm'){
            position: static;
            width: auto;
        }
        @include media('<tabletSm'){
            flex-direction: row;
            
            .text{
                margin-right: 20px;
            }
            .icon{
                margin-bottom: 0;
            }
        }
    }
}

.b-teammate{
    text-align: center;
    cursor: pointer;
          
    img{
        margin-bottom: 20px;
        width: 100%;
        filter: grayscale(1);
        transition: filter .3s;
    }
    
    &__title, &__descr{
        transition: color .3s;
    }
    
    &__title{
        margin-bottom: 3px;
        display: block;
        font-size: 22px;
        color: $black;
        
        @include media('<tabletSm'){
            padding: 0 5%;
            font-size: 18px;
        }
    }
    &__descr{
        font-weight: 500;
        color: $grey_about;
        
        @include media('<tabletSm'){
            padding: 0 5%;
            font-size: 14px;
        }
    }
    
    &:hover{
        img{
            filter: grayscale(0);
        }
        
        .b-teammate{
            &__title, &__descr{
                color: $active;
            }
        }
    }
}